.image.main{
	height: 50%;
	width: 50%;
	display: block;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
}

img.img-project{
	height: 70%;
	width: 70%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}